%table{:border => "1"}
  %tr
    %th Name
    %th Status
    %th 
    - @products.each do|c|
      %tr
        %td= c.name
        %td= c.status
        %td
          %form(action="/product/#{c.id}" method="POST" id="formulario")
            %input(type="hidden" name="_method" value="DELETE")
            %input(type="submit" value="Delete")
            // %a(href="#" onclick="javascript:document.formulario.submit()")Excluir
        %td
          %a(href="/product/new") Novo
  
  
        