%form(action="#{action}" method="POST")
  %label(for="name") Name
  %input(type="text" name="name" value="#{c.name}") 
  %br
  %label(for="status") Status
  %input(type="text" name="status" value="#{c.status}")
  %br
  %input(type="submit" value="Salvar") 
